<html>
<head><title>Survey</title></head>
<body>
<form>
name:<input type="text" name="name"/><br>
Question1:<input type="text" name="answer1"/><br>
Question2:<input type="radio" name="answer2" value="1"/>option1<input type="radio" name="answer2" value="2"/>option2<input type="radio" name="answer2" value="3"/>option3<input type="radio" name="answer2" value="4"/>option4<br>
<select name="department">
<option value="1">option1</option>
<option value="2">option2</option>
<option value="3">option3</option>
<option value="4">option4</option>
</select>

<input type="submit" value="Submit"/>
</form>

</body>
</html>
